# Blacklist everything by default
*

# Allow file patterns to be whitelisted
!*/

# Whitelist specific file patterns
!/**/.gitkeep
!/.gitignore
!/CMakeLists.txt
!/LICENSE.txt
!/README.md
!/environment*.yml

!/proto/CMakeLists.txt
!/proto/*.proto

!/src/**/CMakeLists.txt
!/src/**/*.h
!/src/**/*.hpp
!/src/**/*.cpp
!/src/**/*.pxd

!/test/**/*.cpp
!/test/**/*.h
!/test/**/*.hpp
!/test/**/CMakeLists.txt
!/test/**/rapidcheck.yaml

# Ignore all build artifacts
/build
