# Blacklist everything by default
*

# Allow file patterns to be whitelisted
!*/

# Whitelist specific file patterns
!/**/.gitkeep
!/.gitignore
!/CMakeLists.txt
!/LICENSE.txt
!/README.md

!/src/**/CMakeLists.txt
!/src/**/*.h
!/src/**/*.hpp
!/src/**/*.cpp
!/src/**/*.pxd

!/test/**/CMakeLists.txt
!/test/**/*.h
!/test/**/*.hpp
!/test/**/*.cpp